/* SearchComponent.css */

.search-container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-results {
width: 100%;
  
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.search-results .list-search {
    display: flex;
    gap:10px;
  margin-bottom: 5px;

}
.search-results img {
   width: 20px;
   height:20px;
   border-radius: 50%;
}
.variant{
    margin-left:4vw;
    margin-bottom: 10px;
  display: flex;
  gap: 5px;
}
.variant p{
  margin-left: auto;
   color: grey;
}
.search-actions {
  display: flex;
  gap: 10px;
 float: right;
 font-size: medium;
 color:white;
}
.submit{
  background-color: rgb(150, 150, 247);
}
.submit:hover{
  background-color: blue;
   
}

.close{
 background-color: rgb(239, 88, 88);
}
.close:hover{
 background-color: rgb(238, 10, 10);
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
